*{box-sizing:border-box;}
body{margin:0;}
:root{--tw-ring-width:1px;--tw-ring-color:rgb(59 130 246 / 0.5);}
.-translate-x-1\\/2 {transform: translate(-50%, 0);}
.-translate-y-1\\/2 {transform: translate(0, -50%);}
.absolute {position: absolute;}
.shrink-0 {flex-shrink: 0;}
.scale-110:active {transform: scale(1.1);}
.scale-95:active {transform: scale(0.95);}
.backdrop-blur {backdrop-filter: blur(8px);}
.backdrop-blur-md {backdrop-filter: blur(12px);}
.backdrop-blur-sm {backdrop-filter: blur(6px);}
.bg-blue-100 {background-color: rgb(219 234 254);}
.bg-blue-50 {background-color: rgb(239 246 255);}
.bg-emerald-100 {background-color: rgb(209 250 229);}
.bg-emerald-50 {background-color: rgb(236 253 243);}
.bg-gradient-to-b {background-image: linear-gradient(to bottom, var(--tw-gradient-stops));}
.bg-gradient-to-br {background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));}
.bg-gradient-to-r {background-image: linear-gradient(to right, var(--tw-gradient-stops));}
.bg-gray-100 {background-color: rgb(243 244 246);}
.bg-gray-200 {background-color: rgb(229 231 235);}
.bg-gray-50 {background-color: rgb(249 250 251);}
.bg-gray-50\\/30 {background-color: rgb(249 250 251 / 0.3);}
.bg-gray-50\\/40 {background-color: rgb(249 250 251 / 0.4);}
.bg-gray-50\\/50 {background-color: rgb(249 250 251 / 0.5);}
.bg-gray-50\\/80 {background-color: rgb(249 250 251 / 0.8);}
.bg-gray-900 {background-color: rgb(17 24 39);}
.bg-gray-900\\/60 {background-color: rgb(17 24 39 / 0.6);}
.bg-green-100 {background-color: rgb(220 252 231);}
.bg-green-50 {background-color: rgb(240 253 244);}
.bg-orange-100 {background-color: rgb(255 237 213);}
.bg-orange-50 {background-color: rgb(255 247 237);}
.bg-orange-50\\/50 {background-color: rgb(255 247 237 / 0.5);}
.bg-orange-50\\/60 {background-color: rgb(255 247 237 / 0.6);}
.bg-orange-500 {background-color: rgb(249 115 22);}
.bg-orange-600 {background-color: rgb(234 88 12);}
.bg-pink-100 {background-color: rgb(252 231 243);}
.bg-pink-50 {background-color: rgb(253 242 248);}
.bg-pink-50\\' {background-color: rgb(253 242 248);}
.bg-pink-500 {background-color: rgb(236 72 153);}
.bg-red-100 {background-color: rgb(254 226 226);}
.bg-red-50 {background-color: rgb(254 242 242);}
.bg-red-500 {background-color: rgb(239 68 68);}
.bg-slate-900 {background-color: rgb(15 23 42);}
.bg-slate-950 {background-color: rgb(2 6 23);}
.bg-teal-50 {background-color: rgb(240 253 250);}
.bg-white {background-color: rgb(255 255 255);}
.bg-white\\/60 {background-color: rgb(255 255 255 / 0.6);}
.bg-white\\/80 {background-color: rgb(255 255 255 / 0.8);}
.bg-yellow-100 {background-color: rgb(254 249 195);}
.block {display: block;}
.border {border: 1px solid currentColor;}
.border-2 {border: 2px solid currentColor;}
.border-b {border-bottom: 1px solid currentColor;}
.border-blue-200 {border-color: rgb(191 219 254);}
.border-blue-200\\' {border-color: rgb(191 219 254);}
.border-emerald-200 {border-color: rgb(167 243 208);}
.border-emerald-200\\' {border-color: rgb(167 243 208);}
.border-gray-100 {border-color: rgb(243 244 246);}
.border-gray-100\\' {border-color: rgb(243 244 246);}
.border-gray-200 {border-color: rgb(229 231 235);}
.border-gray-200\\' {border-color: rgb(229 231 235);}
.border-gray-300 {border-color: rgb(209 213 219);}
.border-green-200 {border-color: rgb(187 247 208);}
.border-l {border-left: 1px solid currentColor;}
.border-orange-100 {border-color: rgb(255 237 213);}
.border-orange-100\\/70 {border-color: rgb(255 237 213 / 0.7);}
.border-orange-200 {border-color: rgb(254 215 170);}
.border-orange-500 {border-color: rgb(249 115 22);}
.border-orange-500\\/40 {border-color: rgb(249 115 22 / 0.4);}
.border-orange-600 {border-color: rgb(234 88 12);}
.border-r {border-right: 1px solid currentColor;}
.border-red-100 {border-color: rgb(254 226 226);}
.border-red-200 {border-color: rgb(254 205 211);}
.border-slate-700 {border-color: rgb(51 65 85);}
.border-slate-800 {border-color: rgb(30 41 59);}
.border-t {border-top: 1px solid currentColor;}
.border-teal-100 {border-color: rgb(204 251 241);}
.border-teal-200 {border-color: rgb(153 246 228);}
.bottom-0 {bottom: 0rem;}
.bottom-6 {bottom: 1.5rem;}
.col-span-2 {grid-column: span 2 / span 2;}
.divide-gray-100 > :not([hidden]) ~ :not([hidden]) {border-color: rgb(243 244 246); border-style: solid; border-top-width: 1px;}
.divide-gray-200 > :not([hidden]) ~ :not([hidden]) {border-color: rgb(229 231 235); border-style: solid; border-top-width: 1px;}
.divide-gray-50 > :not([hidden]) ~ :not([hidden]) {border-color: rgb(249 250 251); border-style: solid; border-top-width: 1px;}
.divide-orange-100\\/60 > :not([hidden]) ~ :not([hidden]) {border-color: rgb(255 237 213 / 0.6); border-style: solid; border-top-width: 1px;}
.divide-y > :not([hidden]) ~ :not([hidden]) {border-top-width: 1px; border-style: solid;}
.duration-150 {transition-duration: 150ms;}
.duration-200 {transition-duration: 200ms;}
.duration-300 {transition-duration: 300ms;}
.file\\:bg-orange-50::file-selector-button {background-color: rgb(255 247 237);}
.file\\:border::file-selector-button {border: 1px solid currentColor;}
.file\\:border-orange-100::file-selector-button {border-color: rgb(255 237 213);}
.file\\:font-bold::file-selector-button {font-weight: 700;}
.file\\:mr-4::file-selector-button {margin-right: 1rem;}
.file\\:px-3::file-selector-button {padding-left: 0.75rem; padding-right: 0.75rem;}
.file\\:px-4::file-selector-button {padding-left: 1rem; padding-right: 1rem;}
.file\\:py-2::file-selector-button {padding-top: 0.5rem; padding-bottom: 0.5rem;}
.file\\:py-2\\.5::file-selector-button {padding-top: 0.625rem; padding-bottom: 0.625rem;}
.file\\:rounded-lg::file-selector-button {border-radius: 0.5rem;}
.file\\:rounded-xl::file-selector-button {border-radius: 0.75rem;}
.file\\:text-orange-600::file-selector-button {color: rgb(234 88 12);}
.file\\:text-sm::file-selector-button {font-size: 0.875rem; line-height: 1.25rem;}
.fill-current {fill: currentColor;}
.fixed {position: fixed;}
.flex {display: flex;}
.border-orange-400:focus {border-color: rgb(251 146 60);}
.border-orange-500:focus {border-color: rgb(249 115 22);}
.ring-1:focus {--tw-ring-width: 1px; box-shadow: 0 0 0 var(--tw-ring-width) var(--tw-ring-color);}
.ring-2:focus {--tw-ring-width: 2px; box-shadow: 0 0 0 var(--tw-ring-width) var(--tw-ring-color);}
.ring-orange-200:focus {--tw-ring-color: rgb(254 215 170); box-shadow: 0 0 0 var(--tw-ring-width) var(--tw-ring-color);}
.ring-orange-500:focus {--tw-ring-color: rgb(249 115 22); box-shadow: 0 0 0 var(--tw-ring-width) var(--tw-ring-color);}
.ring-orange-500\\/20:focus {--tw-ring-color: rgb(249 115 22 / 0.2); box-shadow: 0 0 0 var(--tw-ring-width) var(--tw-ring-color);}
.ring-orange-500\\/60:focus {--tw-ring-color: rgb(249 115 22 / 0.6); box-shadow: 0 0 0 var(--tw-ring-width) var(--tw-ring-color);}
.font-bold {font-weight: 700;}
.font-extrabold {font-weight: 800;}
.font-medium {font-weight: 500;}
.font-mono {font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace;}
.font-semibold {font-weight: 600;}
.from-blue-50\\/50 {--tw-gradient-from: rgb(239 246 255 / 0.5); --tw-gradient-to: rgb(var(--tw-from-rgb, 255 255 255) / 0); --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);}
.from-gray-50 {--tw-gradient-from: rgb(249 250 251); --tw-gradient-to: rgb(var(--tw-from-rgb, 255 255 255) / 0); --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);}
.from-orange-50 {--tw-gradient-from: rgb(255 247 237); --tw-gradient-to: rgb(var(--tw-from-rgb, 255 255 255) / 0); --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);}
.from-pink-50 {--tw-gradient-from: rgb(253 242 248); --tw-gradient-to: rgb(var(--tw-from-rgb, 255 255 255) / 0); --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);}
.from-pink-50\\/80 {--tw-gradient-from: rgb(253 242 248 / 0.8); --tw-gradient-to: rgb(var(--tw-from-rgb, 255 255 255) / 0); --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);}
.gap-1 {gap: 0.25rem;}
.gap-2 {gap: 0.5rem;}
.gap-3 {gap: 0.75rem;}
.gap-4 {gap: 1rem;}
.gap-6 {gap: 1.5rem;}
.gap-8 {gap: 2rem;}
.grid {display: grid;}
.grid-cols-1 {grid-template-columns: repeat(1, minmax(0, 1fr));}
.grid-cols-2 {grid-template-columns: repeat(2, minmax(0, 1fr));}
.group {position: relative;}
group:hover .group-hover\\:bg-orange-200 {background-color: rgb(254 215 170);}
group:hover .group-hover\\:bg-orange-50 {background-color: rgb(255 247 237);}
group:hover .group-hover\\:h-1\\.5 {height: 0.375rem;}
group:hover .group-hover\\:opacity-100 {opacity: 1.0;}
group:hover .group-hover\\:scale-110 {transform: scale(1.1);}
group:hover .group-hover\\:text-gray-600 {color: rgb(75 85 99);}
group:hover .group-hover\\:text-orange-600 {color: rgb(234 88 12);}
group:hover .group-hover\\:text-pink-500 {color: rgb(236 72 153);}
group:hover .group-hover\\:text-pink-600 {color: rgb(219 39 119);}
group:hover .group-hover\\:text-white {color: rgb(255 255 255);}
.h-1 {height: 0.25rem;}
.h-1\\.5 {height: 0.375rem;}
.h-10 {height: 2.5rem;}
.h-12 {height: 3rem;}
.h-16 {height: 4rem;}
.h-2 {height: 0.5rem;}
.h-2\\.5 {height: 0.625rem;}
.h-20 {height: 5rem;}
.h-3 {height: 0.75rem;}
.h-3\\.5 {height: 0.875rem;}
.h-4 {height: 1rem;}
.h-5 {height: 1.25rem;}
.h-6 {height: 1.5rem;}
.h-8 {height: 2rem;}
.h-9 {height: 2.25rem;}
.h-full {height: 100%;}
.h-screen {height: 100vh;}
.hidden {display: none;}
.bg-blue-100:hover {background-color: rgb(219 234 254);}
.bg-emerald-100:hover {background-color: rgb(209 250 229);}
.bg-gray-100:hover {background-color: rgb(243 244 246);}
.bg-gray-50:hover {background-color: rgb(249 250 251);}
.bg-green-50\\/40:hover {background-color: rgb(240 253 244 / 0.4);}
.bg-orange-100:hover {background-color: rgb(255 237 213);}
.bg-orange-50:hover {background-color: rgb(255 247 237);}
.bg-orange-50\\/40:hover {background-color: rgb(255 247 237 / 0.4);}
.bg-orange-50\\/60:hover {background-color: rgb(255 247 237 / 0.6);}
.bg-orange-500:hover {background-color: rgb(249 115 22);}
.bg-orange-600:hover {background-color: rgb(234 88 12);}
.bg-pink-50:hover {background-color: rgb(253 242 248);}
.bg-pink-50\\':hover {background-color: rgb(253 242 248);}
.bg-red-100:hover {background-color: rgb(254 226 226);}
.bg-red-50:hover {background-color: rgb(254 242 242);}
.bg-teal-100:hover {background-color: rgb(204 251 241);}
.bg-white\\/50:hover {background-color: rgb(255 255 255 / 0.5);}
.bg-white\\/80:hover {background-color: rgb(255 255 255 / 0.8);}
.border-blue-200:hover {border-color: rgb(191 219 254);}
.border-emerald-200:hover {border-color: rgb(167 243 208);}
.border-gray-100:hover {border-color: rgb(243 244 246);}
.border-green-200:hover {border-color: rgb(187 247 208);}
.border-orange-200:hover {border-color: rgb(254 215 170);}
.border-teal-200:hover {border-color: rgb(153 246 228);}
.opacity-80:hover {opacity: 0.8;}
.scale-105:hover {transform: scale(1.05);}
.scale-110:hover {transform: scale(1.1);}
.shadow:hover {box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);}
.shadow-lg:hover {box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);}
.shadow-md:hover {box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);}
.shadow-orange-200\\/50:hover {box-shadow: 0 10px 15px -3px rgb(254 215 170 / 0.5);}
.text-blue-700:hover {color: rgb(29 78 216);}
.text-blue-700\\':hover {color: rgb(29 78 216);}
.text-emerald-700:hover {color: rgb(4 120 87);}
.text-emerald-700\\':hover {color: rgb(4 120 87);}
.text-gray-600:hover {color: rgb(75 85 99);}
.text-gray-700:hover {color: rgb(55 65 81);}
.text-green-500:hover {color: rgb(34 197 94);}
.text-orange-500:hover {color: rgb(249 115 22);}
.text-orange-600:hover {color: rgb(234 88 12);}
.text-pink-500:hover {color: rgb(236 72 153);}
.text-red-500:hover {color: rgb(239 68 68);}
.text-red-600:hover {color: rgb(220 38 38);}
.text-red-700:hover {color: rgb(185 28 28);}
.inline-flex {display: inline-flex;}
.inset-0 {inset: 0;}
.inset-y-0 {top: 0; bottom: 0;}
.items-center {align-items: center;}
.items-end {align-items: flex-end;}
.items-start {align-items: flex-start;}
.justify-between {justify-content: space-between;}
.justify-center {justify-content: center;}
.justify-end {justify-content: flex-end;}
.leading-none {line-height: 1;}
.leading-tight {line-height: 1.25;}
.left-0 {left: 0rem;}
.left-1\\/2 {left: 50%;}
@media (min-width: 1024px) {.col-span-3 {grid-column: span 3 / span 3;}}
@media (min-width: 1024px) {.grid-cols-2 {grid-template-columns: repeat(2, minmax(0, 1fr));}}
@media (min-width: 1024px) {.grid-cols-3 {grid-template-columns: repeat(3, minmax(0, 1fr));}}
.max-h-40 {max-height: 10rem;}
.max-h-\\[90vh\\] {max-height: 90vh;}
.max-w-4xl {max-width: 56rem;}
.max-w-5xl {max-width: 64rem;}
.max-w-6xl {max-width: 72rem;}
.max-w-lg {max-width: 32rem;}
.max-w-md {max-width: 28rem;}
.max-w-xs {max-width: 20rem;}
.mb-1 {margin-bottom: 0.25rem;}
.mb-2 {margin-bottom: 0.5rem;}
.mb-4 {margin-bottom: 1rem;}
.mb-6 {margin-bottom: 1.5rem;}
.mb-8 {margin-bottom: 2rem;}
@media (min-width: 768px) {.col-span-2 {grid-column: span 2 / span 2;}}
@media (min-width: 768px) {.flex {display: flex;}}
@media (min-width: 768px) {.grid-cols-2 {grid-template-columns: repeat(2, minmax(0, 1fr));}}
@media (min-width: 768px) {.grid-cols-4 {grid-template-columns: repeat(4, minmax(0, 1fr));}}
@media (min-width: 768px) {.hidden {display: none;}}
.min-h-screen {min-height: 100vh;}
.min-w-0 {min-width: 0rem;}
.min-w-\\[180px\\] {min-width: 180px;}
.min-w-full {min-width: 100%;}
.ml-0\\.5 {margin-left: 0.125rem;}
.ml-1 {margin-left: 0.25rem;}
.mt-0\\.5 {margin-top: 0.125rem;}
.mt-1 {margin-top: 0.25rem;}
.mt-2 {margin-top: 0.5rem;}
.mt-3 {margin-top: 0.75rem;}
.mt-4 {margin-top: 1rem;}
.mt-6 {margin-top: 1.5rem;}
.mt-8 {margin-top: 2rem;}
.mx-4 {margin-left: 1rem; margin-right: 1rem;}
.my-1 {margin-top: 0.25rem; margin-bottom: 0.25rem;}
.opacity-0 {opacity: 0.0;}
.opacity-20 {opacity: 0.2;}
.opacity-25 {opacity: 0.25;}
.opacity-40 {opacity: 0.4;}
.opacity-50 {opacity: 0.5;}
.opacity-60 {opacity: 0.6;}
.opacity-70 {opacity: 0.7;}
.opacity-75 {opacity: 0.75;}
.opacity-80 {opacity: 0.8;}
.overflow-auto {overflow: auto;}
.overflow-hidden {overflow: hidden;}
.overflow-y-auto {overflow-y: auto;}
.p-1 {padding: 0.25rem;}
.p-1\\.5 {padding: 0.375rem;}
.p-12 {padding: 3rem;}
.p-2 {padding: 0.5rem;}
.p-3 {padding: 0.75rem;}
.p-4 {padding: 1rem;}
.p-5 {padding: 1.25rem;}
.p-6 {padding: 1.5rem;}
.p-8 {padding: 2rem;}
.pb-2 {padding-bottom: 0.5rem;}
.pl-10 {padding-left: 2.5rem;}
.pl-2 {padding-left: 0.5rem;}
.pl-3 {padding-left: 0.75rem;}
.pointer-events-none {pointer-events: none;}
.pr-2 {padding-right: 0.5rem;}
.pr-3 {padding-right: 0.75rem;}
.pr-4 {padding-right: 1rem;}
.pt-2 {padding-top: 0.5rem;}
.px-1\\.5 {padding-left: 0.375rem; padding-right: 0.375rem;}
.px-2 {padding-left: 0.5rem; padding-right: 0.5rem;}
.px-3 {padding-left: 0.75rem; padding-right: 0.75rem;}
.px-4 {padding-left: 1rem; padding-right: 1rem;}
.px-5 {padding-left: 1.25rem; padding-right: 1.25rem;}
.px-6 {padding-left: 1.5rem; padding-right: 1.5rem;}
.py-0\\.5 {padding-top: 0.125rem; padding-bottom: 0.125rem;}
.py-1 {padding-top: 0.25rem; padding-bottom: 0.25rem;}
.py-1\\.5 {padding-top: 0.375rem; padding-bottom: 0.375rem;}
.py-10 {padding-top: 2.5rem; padding-bottom: 2.5rem;}
.py-12 {padding-top: 3rem; padding-bottom: 3rem;}
.py-2 {padding-top: 0.5rem; padding-bottom: 0.5rem;}
.py-2\\.5 {padding-top: 0.625rem; padding-bottom: 0.625rem;}
.py-20 {padding-top: 5rem; padding-bottom: 5rem;}
.py-3 {padding-top: 0.75rem; padding-bottom: 0.75rem;}
.py-4 {padding-top: 1rem; padding-bottom: 1rem;}
.py-6 {padding-top: 1.5rem; padding-bottom: 1.5rem;}
.relative {position: relative;}
.right-0 {right: 0rem;}
.right-1\\.5 {right: 0.375rem;}
.right-6 {right: 1.5rem;}
.ring-2 {--tw-ring-width: 2px; box-shadow: 0 0 0 var(--tw-ring-width) var(--tw-ring-color);}
.ring-orange-200 {--tw-ring-color: rgb(254 215 170); box-shadow: 0 0 0 var(--tw-ring-width) var(--tw-ring-color);}
.ring-orange-200\\' {--tw-ring-color: rgb(254 215 170); box-shadow: 0 0 0 var(--tw-ring-width) var(--tw-ring-color);}
.ring-white {--tw-ring-color: rgb(255 255 255); box-shadow: 0 0 0 var(--tw-ring-width) var(--tw-ring-color);}
.rounded {border-radius: 0.25rem;}
.rounded-2xl {border-radius: 1rem;}
.rounded-full {border-radius: 9999px;}
.rounded-l-lg {border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem;}
.rounded-lg {border-radius: 0.5rem;}
.rounded-xl {border-radius: 0.75rem;}
.scale-125 {transform: scale(1.25);}
.shadow {box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);}
.shadow-2xl {box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);}
.shadow-\\[0_-4px_6px_-1px_rgba\\(0,0,0,0\\.05\\)\\] {box-shadow: 0_-4px_6px_-1px_rgba(0,0,0,0.05);}
.shadow-inner {box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);}
.shadow-lg {box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);}
.shadow-md {box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);}
.shadow-orange-200 {box-shadow: 0 10px 15px -3px rgb(254 215 170);}
.shadow-orange-500\\/20 {box-shadow: 0 10px 15px -3px rgb(249 115 22 / 0.2);}
.shadow-sm {box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);}
.shadow-xl {box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 10px 10px -5px rgb(0 0 0 / 0.04);}
@media (min-width: 640px) {.flex {display: flex;}}
@media (min-width: 640px) {.grid-cols-2 {grid-template-columns: repeat(2, minmax(0, 1fr));}}
.space-y-0\\.5 > :not([hidden]) ~ :not([hidden]) {--tw-space-y-reverse: 0; margin-top: calc(0.125rem * (1 - var(--tw-space-y-reverse))); margin-bottom: calc(0.125rem * var(--tw-space-y-reverse));}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {--tw-space-y-reverse: 0; margin-top: calc(0.5rem * (1 - var(--tw-space-y-reverse))); margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));}
.space-y-3 > :not([hidden]) ~ :not([hidden]) {--tw-space-y-reverse: 0; margin-top: calc(0.75rem * (1 - var(--tw-space-y-reverse))); margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {--tw-space-y-reverse: 0; margin-top: calc(1rem * (1 - var(--tw-space-y-reverse))); margin-bottom: calc(1rem * var(--tw-space-y-reverse));}
.space-y-5 > :not([hidden]) ~ :not([hidden]) {--tw-space-y-reverse: 0; margin-top: calc(1.25rem * (1 - var(--tw-space-y-reverse))); margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));}
.space-y-6 > :not([hidden]) ~ :not([hidden]) {--tw-space-y-reverse: 0; margin-top: calc(1.5rem * (1 - var(--tw-space-y-reverse))); margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));}
.space-y-8 > :not([hidden]) ~ :not([hidden]) {--tw-space-y-reverse: 0; margin-top: calc(2rem * (1 - var(--tw-space-y-reverse))); margin-bottom: calc(2rem * var(--tw-space-y-reverse));}
.sticky {position: sticky;}
.text-2xl {font-size: 1.5rem; line-height: 2rem;}
.text-3xl {font-size: 1.875rem; line-height: 2.25rem;}
.text-\\[10px\\] {font-size: 10px;}
.text-\\[11px\\] {font-size: 11px;}
.text-\\[9px\\] {font-size: 9px;}
.text-base {font-size: 1rem; line-height: 1.5rem;}
.text-blue-700 {color: rgb(29 78 216);}
.text-center {text-align: center;}
.text-emerald-700 {color: rgb(4 120 87);}
.text-gray-200 {color: rgb(229 231 235);}
.text-gray-300 {color: rgb(209 213 219);}
.text-gray-400 {color: rgb(156 163 175);}
.text-gray-500 {color: rgb(107 114 128);}
.text-gray-600 {color: rgb(75 85 99);}
.text-gray-600\\' {color: rgb(75 85 99);}
.text-gray-700 {color: rgb(55 65 81);}
.text-gray-700\\' {color: rgb(55 65 81);}
.text-gray-800 {color: rgb(31 41 55);}
.text-gray-900 {color: rgb(17 24 39);}
.text-green-500 {color: rgb(34 197 94);}
.text-green-600 {color: rgb(22 163 74);}
.text-green-700 {color: rgb(21 128 61);}
.text-green-700\\' {color: rgb(21 128 61);}
.text-left {text-align: left;}
.text-lg {font-size: 1.125rem; line-height: 1.75rem;}
.text-orange-400 {color: rgb(251 146 60);}
.text-orange-500 {color: rgb(249 115 22);}
.text-orange-600 {color: rgb(234 88 12);}
.text-pink-500 {color: rgb(236 72 153);}
.text-pink-600 {color: rgb(219 39 119);}
.text-red-400 {color: rgb(248 113 113);}
.text-red-500 {color: rgb(239 68 68);}
.text-red-600 {color: rgb(220 38 38);}
.text-red-700 {color: rgb(185 28 28);}
.text-red-700\\' {color: rgb(185 28 28);}
.text-right {text-align: right;}
.text-slate-200 {color: rgb(226 232 240);}
.text-slate-400 {color: rgb(148 163 184);}
.text-sm {font-size: 0.875rem; line-height: 1.25rem;}
.text-teal-700 {color: rgb(15 118 110);}
.text-white {color: rgb(255 255 255);}
.text-white\\/70 {color: rgb(255 255 255 / 0.7);}
.text-xl {font-size: 1.25rem; line-height: 1.75rem;}
.text-xs {font-size: 0.75rem; line-height: 1rem;}
.text-yellow-700 {color: rgb(161 98 7);}
.text-yellow-700\\' {color: rgb(161 98 7);}
.to-emerald-50 {--tw-gradient-to: rgb(236 253 243);}
.to-white {--tw-gradient-to: rgb(255 255 255);}
.top-0 {top: 0rem;}
.top-1\\.5 {top: 0.375rem;}
.top-1\\/2 {top: 50%;}
.top-3 {top: 0.75rem;}
.tracking-\\[0\\.25em\\] {letter-spacing: 0.25em;}
.tracking-\\[0\\.2em\\] {letter-spacing: 0.2em;}
.tracking-\\[0\\.35em\\] {letter-spacing: 0.35em;}
.tracking-\\[0\\.3em\\] {letter-spacing: 0.3em;}
.tracking-tight {letter-spacing: -0.025em;}
.tracking-wide {letter-spacing: 0.025em;}
.tracking-wider {letter-spacing: 0.05em;}
.transform {transform: translate(0,0);}
.transition {transition-property: all;}
.transition-all {transition-property: all;}
.transition-colors {transition-property: all;}
.transition-opacity {transition-property: all;}
.transition-transform {transition-property: all;}
.truncate {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.uppercase {text-transform: uppercase;}
.via-white {--tw-gradient-stops: var(--tw-gradient-from), rgb(255 255 255), var(--tw-gradient-to);}
.w-1 {width: 0.25rem;}
.w-1\\/3 {width: 33.333333%;}
.w-10 {width: 2.5rem;}
.w-12 {width: 3rem;}
.w-16 {width: 4rem;}
.w-2 {width: 0.5rem;}
.w-2\\.5 {width: 0.625rem;}
.w-20 {width: 5rem;}
.w-24 {width: 6rem;}
.w-28 {width: 7rem;}
.w-3 {width: 0.75rem;}
.w-3\\.5 {width: 0.875rem;}
.w-32 {width: 8rem;}
.w-4 {width: 1rem;}
.w-40 {width: 10rem;}
.w-5 {width: 1.25rem;}
.w-52 {width: 13rem;}
.w-56 {width: 14rem;}
.w-6 {width: 1.5rem;}
.w-72 {width: 18rem;}
.w-8 {width: 2rem;}
.w-80 {width: 20rem;}
.w-9 {width: 2.25rem;}
.w-full {width: 100%;}
.z-10 {z-index: 10;}
.z-20 {z-index: 20;}
.z-30 {z-index: 30;}
.z-50 {z-index: 50;}
